USE [SellingDatabase]
GO
--DELETE FROM dbo.DriverArea

INSERT [dbo].[DriverArea] ([DriverID],[AreaID]) VALUES (1000,116)
INSERT [dbo].[DriverArea] ([DriverID],[AreaID]) VALUES (1000,131)
INSERT [dbo].[DriverArea] ([DriverID],[AreaID]) VALUES (1001,2)

SELECT * FROM DriverArea
GO