USE [SellingDatabase]
GO
DBCC CHECKIDENT ('[StaffStatus]', RESEED, 0);
GO
INSERT [dbo].[StaffStatus] ([StaffID]) VALUES (1017)
INSERT [dbo].[StaffStatus] ([StaffID]) VALUES (1047)
INSERT [dbo].[StaffStatus] ([StaffID]) VALUES (1002)

SELECT * FROM StaffStatus
GO